.main {
    box-sizing: border-box;
    background-color: #086858;
    color: white;
    text-align: center;
    align-items: center;
    padding:20px;
    width: 75%;
    margin:auto;
    margin-top:20px;
    margin-bottom:20;
    box-shadow: 0 2px 2px black;
    
}
.container {
    display:flexbox;
    align-items: center;
    margin-top:20px;
}
.container a {
    background-color: #FFA500; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.container a:hover {
    background-color: white;
    border:#FFA500 solid 3px;
    color: #FFA500;
}