.main {
    width: 100%;
    background: #14816f;
    padding: 20px 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 3px #424242;
    text-align: center;
    height:70px;
    /* position:absolute; */
    bottom:0;
    color: whitesmoke;
    flex-shrink: 0;
    margin-top: 40px;
}
.main a {
    color:white;
    text-decoration: none;
}
.strava {
 padding-left: 40px;   
    

}
.strava img {
    width:120px;
    height:auto;
}