/* navbar styles */
.navbar {
  width: 100%;
  background: #14816f;
  padding: 20px 10px;
  box-sizing: border-box;
  box-shadow: 0 2px 3px #424242;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
  align-items: center;
}
.title {
  margin-right: auto;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.2em;
  color: white;
}
.navbar button, .navbar a {
  margin-left: 16px;
  color:white;
}
.navbar a {
  color: whitesmoke;
  text-decoration: none;
  align-content: space-between;
}
.hello {
  color:whitesmoke;
}
.mainNav {
  margin-right: 30px;
}
.logo {
  margin-right: 5px;
}
.hbrand {
  display: flex;
  margin-right: 100px;
}